<!DOCTYPE html>
<html lang="en">
<head>
    <title> Drift Pay </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="top-nav">
        <nav>
            <ul>
                <a href=""><li> Home </li></a>
                <a href="/register"><li> Register </li></a> 
                <a href="/login"><li> Login </li></a>   
            </ul>
        </nav>
    </div>

    <div class="main-div">
        <h1> DRIFT PAY  ~ Payments that drift in smoothly </h1>
    </div>

    <div class="bottom-div">
        <h1> We're ready to hear you out! For any queries, call us on 123456789 (MON to SUN 9 AM to 9 PM). </h1>
    </div>
</body>
</html>