<!DOCTYPE html>
<html lang="en">
<head>
    <title>DRIFT PAY</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="top-nav">
        <nav>
            <ul>
                <li> Home </li>
                <li> Register </li> 
                <li> Login </li>   
            </ul>
        </nav>
    </div>
    <div class="user_login">
        <h1>User</h1>
        <form action="" method="POST">
            <input type="email" placeholder="Enter Email" name="Email">
            <input type="password" placeholder="Enter password" name="password">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>